<!-- esta sera la plantilla que va a renderizar la vista index desde el archivo __init__.py  -->

<!-- Para comenzar debemos hacer un extends de body.html -->
{% extends './body.html' %}

<!-- modificando el bloque title el cual tendra de titulo index -->
{% block title %}
    Index
{% endblock %}

{% block CustomCSS %}
{% endblock %}

{% block container %}
    <h1 class="text-center  py-4 fs-1 fw-bold " style="color: white;">Bienvenidos al Sistema del Torneo INSA </h1>
        <hr>
        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{url_for('static', filename='img/CE-INSA.png')}}" class="rounded float-start img-fluid d-block w-100 h-50 " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static', filename='img/torneo1.jpg')}}" class="rounded float-start img-fluid d-block w-100 h-50 " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static', filename='img/Auditorium.png')}}" class="rounded float-start img-fluid d-block w-100 h-50 " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static', filename='img/Cancha8.jpg')}}" class="rounded float-start img-fluid d-block w-100 h-50 " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static', filename='img/Cancha6.jpg')}}" class="rounded float-start img-fluid d-block w-100 h-50 " alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{url_for('static', filename='img/Cancha7.jpg')}}" class="rounded float-start img-fluid d-block w-100 h-50 " alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
                    <p class="text-left fs-5 " style="color: white;">El Centro Escolar INSA (Instituto Nacional de Santa Ana) es una de las
                        instituciones educativas más emblemáticas de la ciudad de Santa Ana, El Salvador. Fundado hace varias décadas, el
                        INSA ha sido un pilar en la formación académica de miles de jóvenes salvadoreños, destacándose por su compromiso con
                        la educación integral y el desarrollo social de sus estudiantes.
                    </p>
                    <p class="text-left  " style="color: white;">
                        El INSA fue fundado con el objetivo de brindar educación secundaria de calidad a los jóvenes de la región occidental
                        de El Salvador. Con el paso del tiempo, el instituto se ha consolidado como una de las instituciones más
                        prestigiosas del país, reconocida por su enfoque en la excelencia académica y el desarrollo de valores cívicos y
                        sociales en sus alumnos.
                    
                        A lo largo de los años, el INSA ha experimentado varias etapas de modernización y crecimiento. Ha ampliado su oferta
                        educativa para incluir tanto modalidades académicas como técnicas, proporcionando a los estudiantes las herramientas
                        necesarias para enfrentarse al mundo laboral o continuar con estudios superiores.
                    </p>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 py-4">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/Arte_Cultura.jpg')}}"  class="card-img-custom" alt="...">
                        <div class="card-body">
                            <p class="card-text "><strong>Cultura y Arte:</strong>“El instituto organiza regularmente eventos culturales, como
                                presentaciones de teatro, danza y música. Estos eventos no solo muestran el talento de los estudiantes, sino que
                                también refuerzan la identidad cultural.”</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 py-4">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/Cancha7.jpg')}}"  class="card-img-custom" alt="...">
                        <div class="card-body">
                            <p class="card-text "><strong>Deportes:</strong>“El INSA cuenta con equipos deportivos en
                                diversas disciplinas como fútbol, baloncesto y voleibol. Estas actividades no solo promueven la salud física, sino
                                también el trabajo en equipo y la disciplina entre los estudiantes.”</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 py-4">
                    <div class="card">
                        <img src="{{url_for('static', filename='img/ActividadesCivicas.jpg')}}"  class="card-img-custom" alt="...">
                        <div class="card-body">
                            <p class="card-text "><strong>Actividades Cívicas:</strong>“ Como parte de su enfoque en la formación cívica, el INSA
                                organiza actividades para conmemorar fechas importantes, como el Día de la Independencia, donde los estudiantes
                                participan en desfiles, actos cívicos.
                                .”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}