{% extends '/base.html' %}

{% block title %}
    To Do List
{% endblock %}

{% block CustomCSS %}<!-- Este bloque esta creado en la plantilla base.html y lo llamo aca para no ponerlo en la plantilla base.html de esa forma solo afectara a la plantilla logn.html -->
    <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">
{% endblock %}


<!-- creamos el block del body que hereda desde base.html con su cierre -->
{% block body %}
    {% include './navbar.html' %}
        <div class="container py-3">
            <!-- este div contiene el bloque container que es el que tiene el h1 con el Hola mundo en la plantilla index.html -->
            {% block container %}
                {% for value_team in udpate_team %}
                    <form class="form-signin text-center" action="{{ url_for('EquiposBlueprint.edit_equipo', id=value_team[0]) }}" method="post">

                        <input type="hidden" name="csrf_token" ><!--Este input generara el token para la seguridad de nuestros formularios-->

                        <h1 class="h3 mb-3 font-weight-normal">Update Task</h1>
                        <div class="col-lg-7 container mr-2 ml-2 border border-secondary" style="right: auto;left: 300px;top: auto;bottom: 700px; text-align: center; " id="formularioeditequipo">
                            <input type="text" id="nombre_equipo" class="form-control" name="nombre_equipo" placeholder="Nombre equipo" value="{{ value_team[1] }}" required autofocus>
                            <input type="text" id="representante" class="form-control" name="representante" placeholder="Representante" value="{{ value_team[2] }}" required autofocus>
                            <input type="text" id="subrepresentante" class="form-control" name="subrepresentante" placeholder="Sub Representante" value="{{ value_team[3] }}" required autofocus>
                            <input type="text" id="correo" class="form-control" name="correo" placeholder="Correo" value="{{ value_team[4] }}" required autofocus>
                            <input type="text" id="grupo_id" class="form-control" name="grupo_id" placeholder="Grupo" value="{{ value_team[5] }}"  autofocus>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Update task</button>
                        </div>
                    </form>
                {% endfor %}
            {% endblock %}   
        </div>