<!-- esta sera la plantilla que va a renderizar la vista index desde el archivo __init__.py  -->

<!-- Para comenzar debemos hacer un extends de body.html -->
{% extends './body.html' %}

<!-- modificando el bloque title el cual tendra de titulo index -->
{% block title %}
Equipos
{% endblock %}


{% block CustomCSS %}
<link href="{{url_for('static', filename='css/equipos.css')}}" rel="stylesheet">
{% endblock %}

<!-- creamos el block del body que hereda desde base.html con su cierre -->
{% block container %}
    <div class="col-lg-7 container mr-2 ml-2 border border-secondary" style="right: auto;left: 300px;top: auto;bottom: 700px; text-align: center; " id="formularioeditequipo">
        <form class="m-3" style="width: auto; align-items: center;" action="{{ url_for('EquiposBlueprint.edit_equipo', id=equipo.id) }}" method="post">
            <h1 class="h3 mb-3 font-weight-normal" style="font-weight: bold; color: #000;"><strong>Actualizar datos del equipo</strong></h1>
                <label for="nombre_equipo" >Nombre equipo<input type="text" id="nombre_equipo" class="form-control" name="nombre_equipo" placeholder="Nombre equipo" value="{{ equipo.nombre_equipo }}" required autofocus></label>
                <label for="representante" style="padding-top: 10px;">Representante<input  type="text" id="representante" class="form-control" name="representante" placeholder="Representante" value="{{ equipo.representante }}" required autofocus>
                    <label for="subrepresentante" style="padding-top: 10px;">Sub Representante<input type="text" id="subrepresentante" class="form-control" name="subrepresentante" placeholder="Sub Representante" value="{{ equipo.subrepresentante }}" required autofocus>
                        <label for="correo" style="padding-top: 10px;">Correo<input type="text" id="correo" class="form-control" name="correo" placeholder="Correo" value="{{ equipo.correo }}" required autofocus>

                <!-- Si deseas mostrar los horarios en el mismo formulario, podrías iterar sobre ellos -->
                {% for horario in equipo.horarios %}
                <label for="dia" style="padding-top: 10px;">Dia<input type="text" id="dia" class="form-control" name="dia" placeholder="Dia" value="{{ horario.dia }}" autofocus></label>
                <label for="hora_inicio" style="padding-top: 10px;">Hora inicio equipo<input type="text" id="hora_inicio" class="form-control" name="hora_inicio" placeholder="Hora_inicio" value="{{ horario.hora_inicio }}" autofocus></label>
                <label for="hora_fin" style="padding-top: 10px;">Hora fin equipo<input type="text" id="hora_fin" class="form-control" name="hora_fin" placeholder="Hora_fin" value="{{ horario.hora_fin }}" autofocus></label>
                {% endfor %}
                <br>
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Update task</button>
        </form>
    </div>
    <br>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong style="font-size: 14px;">{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong style="font-size: 14px;">{{ message }}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
{% endblock %}