<!-- esta sera la plantilla que va a renderizar la vista index desde el archivo __init__.py  -->

<!-- Para comenzar debemos hacer un extends de body.html -->
{% extends './body.html' %}

<!-- modificando el bloque title el cual tendra de titulo index -->
{% block title %} 
    Grupos 
{% endblock %} 



{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2>Grupos</h2>
            <a href="{{ url_for('grupos.create_grupo') }}" class="btn btn-primary"></a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grupo in grupos %}
                        <tr>
                            <td>{{ grupo.nombre }}</td>
                            <td>{{ grupo.descripcion }}</td>
                            <td>
                                <a href="{{ url_for('grupos.edit_grupo', id_grupo=grupo.id_grupo)}}">
                            </td>
                        </tr>
                    {% endblock %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}