<!-- esta sera la plantilla que va a renderizar la vista index desde el archivo __init__.py  -->

<!-- Para comenzar debemos hacer un extends de body.html -->
{% extends './body.html' %}

<!-- modificando el bloque title el cual tendra de titulo index -->
{% block title %} 
    Grupos 
{% endblock %} 



{% block container %}
    <div class="container-xxl bg-secondary rounded-start rounded-end d-md-block mt-5">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 pt-3">
                <h2 class="fw-bold fs-1 text-center fst-italic" style="color: #000;">Asignar Equipos a Grupos</h2>
                <form class="m-3 fst-italic d-flex flex-column" action="{{ url_for('gruposBlueprint.grupos') }}" method="post">
                    <div class="mb-3">
                        <label for="selectEquipos" class="form-label fw-bold">Seleccione un Equipo</label>
                        <select class="form-select" id="selectEquipos" name="equipo">
                            {% for equipo in equipos %}
                            <option value="{{ equipo }}" id="equipo_{{ equipo }}">{{ equipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="selectGrupos" class="form-label fw-bold">Seleccione un Grupo</label>
                        <select class="form-select" id="selectGrupos" name="grupo">
                            {% for grupo in grupos %}
                            <option value="{{ grupo }}" id="grupo_{{ grupo }}">{{ grupo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Asignar</button>
                </form>
            </div>


            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 pt-3">
                <h1 class="fw-bold  fs-1 text-center fst-italic" style=" color: #000;">Listado de equipos y sus horarios</h1>
                <div class="table-responsive py-5">
                    <table class="table-bordered border border-dark table showteams table-secondary table-striped  table-hover ">
                        <tr class="mx-auto text-center border-dark" style="font-size: smaller; border: 1px solid #ddd;">
                            <th>Equipo</th>
                            <th>horarios</th>
                        </tr>
                        {% for horario in dates %}
                            <tr class="mx-auto text-center" >
                                <td style="font-size: 15px;">{{ horario.nombre_equipo }}</td>
                                <td style="font-size: 15px;">{{ horario.horarios }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}