<!-- esta sera la plantilla que va a renderizar la vista index desde el archivo __init__.py  -->

<!-- Para comenzar debemos hacer un extends de body.html -->
{% extends './body.html' %}

<!-- modificando el bloque title el cual tendra de titulo index -->
{% block title %} 
    Horarios 
{% endblock %} 



{% block container %}
<div class="col-sm-5 container mr-1 ml-1  " style=" right: auto;left: 750px;top: auto;bottom: 700px;">
    <p>estamos en la plantilla de horarios para ver si se remplaza la plantilla en lugar de ponerse encima 
    Esta plantilla tendra la posibilidad de agregar mas horarios, actualizar, eliminar  y visualizar los horarios</p>
</div>

{% endblock %}