{% extends './body.html' %}

{% block title %}
Horarios
{% endblock %}



{% block CustomCSS %}

{% endblock %}

{% block container %}
<div class="container bg-secondary rounded-start rounded-end d-md-block mt-5 pt-2 ">
    <div class="container pt-5">
        <h1 class="fw-bold  fs-1 text-center fst-italic " style=" color: #000;">Horarios</h1>
        <hr>
    </div>
    <div class="row mt-1">
        <div class="col-sm-12 col-md-5 col-lg-5 py-3">
            <h1 class="fw-bold  fs-1 text-center fst-italic " style=" color: #000;">Agregar Horarios</h1>
            <form action="{{ url_for('horariosBlueprint.horarios' ) }}" method="post">
                <div class="table-responsive">
                    <table class="table table-bordered border border-light rounded-start table-dark  table-hover table-striped table-sm text-center">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center pt-3 ">                    
                                    <select class=" mb-2 text-center  fw-bold " id="id_equipo" name="id_equipo">
                                        {% for equipo in equipos %}
                                            <option value="{{ equipo[0] }}">{{ equipo[1] }}</option>
                                        {% else %}
                                            <option>No hay equipos disponibles</optio>
                                        {% endfor %}
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th>Día</th>
                                <th>Hora de inicio</th>
                                <th>Hora de fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dia in ['lunes', 'martes', 'miercoles', 'jueves', 'viernes'] %}
                            <tr>
                                <td>
                                    <label for="{{ dia }}">{{ dia|capitalize }}:</label>
                                    <input type="checkbox" name="dias[{{ dia }}]" value="{{ dia }}" id="{{ dia }}" />
                                </td>
                                <td>
                                    <select class="custom-select col-md-6 text-center" name="horas[{{ dia }}][inicio]">
                                        {% for hora in range(8, 18) %}
                                        <option value="{{ hora }}">{{ hora }}:00</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select class="custom-select col-md-6 text-center" name="horas[{{ dia }}][fin]">
                                        {% for hora in range(8, 19) %}
                                        <option value="{{ hora }}">{{ hora }}:00</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="container text-center">
                    <button class="btn btn-primary btn-lg btn-custom" type="submit">Agregar horarios</button>
                </div>
                <br>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category=='warning' %}<!-- Si la categoria es igual a warning se va a mostrar en amarillo el msj -->  
                            <!-- <div class="alert alert-{{category}}"> {{message}} </div> -->
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong style="font-size: 14px;">{{ message }}</strong><!-- en esta etiqueta mandamos a imprimir el msj que se envia desde la ruta login  -->
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% else %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <strong style="font-size: 14px;">{{ message }}</strong> <!-- en esta etiqueta mandamos a imprimir el msj que se envia desde la ruta logout  -->
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <br>
            </form>
        </div>

        <div class="col-sm-12 col-md-7 col-lg-7  pt-3">
            <h1 class="fw-bold  fs-1 text-center fst-italic" style=" color: #000;">Listado de Horarios de Equipos</h1>
            <table class="table-bordered border border-light table showteams table-dark table-striped  table-hover ">
                <tr class="mx-auto text-center"
                    style="font-size: smaller; border: 1px solid #ddd;">
                    <th>Equipo</th>
                    <th>Dia</th>
                    <th>Hora inicio</th>
                    <th>Hora Fin</th>
                    <th>Opciones</th>
                </tr>
                {% for horario in dates %}
                    <tr class="mx-auto text-center" >
                        <td>{{ horario.nombre_equipo }}</td>
                        <td>{{ horario.dia }}</td>
                        <td>{{ horario.hora_inicio }}</td>
                        <td>{{ horario.hora_fin }}</td>
                        <td>
                            <div class="mx-auto">
                                <a type="button" class="btn btn-primary" href="{{ url_for('horariosBlueprint.edit_horarios', id=horario.id_equipo) }}">Editar</a>
                                <a type="button" class="btn btn-danger" href="{{ url_for('horariosBlueprint.delete_horarios', id=horario.id) }}">Eliminar</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}