<a href="{{ url_for('IndexBlueprint.index') }}"><img src="{{url_for('static', filename='img/Escudo-INSA.jpg')}}"  class="rounded-right" alt="escudo Insa" style="width: 78px; float: none; 
content: ''; position: relative; float: left;"></a>
<ul class="navs flex-columns ">
    <ul class="nav justify-content-end pb-3 pt-3"  style="background-color: #252a2f;">
        <li class="nav-item" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  font-size:20px; font-weight: bolder">
            <a class="nav-link active" href="#">{{ current_user.username }}
                <img style="width: 30px; padding-left: 10px;" src="{{url_for('static', filename='img/user.png')}}" alt="">
            </a>
        </li>
        <li class="nav-item" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  font-size:20px; font-weight: bolder">
            <a class="nav-link" href="{{ url_for('AuthLogin.logout') }}">Logout
                <img style="width: 30px; padding-left: 10px;" src="{{url_for('static', filename='img/logout.png')}}" alt="">
            </a>
        </li>
    </ul>
    <li class="nav-item pb-5 col-2 pt-5">
        <a class="nav-link active" aria-current="page" href="{{url_for('EquiposBlueprint.equipos')}}">Equipos
            <img style="width: 80px; " src="{{url_for('static', filename='img/users-group.png')}}" alt="">
        </a>
    </li>
    <li class="nav-item pb-5 col-2 pt-5">
        <a class="nav-link" href="{{url_for('gruposBlueprint.grupos')}}">Grupos
            <img style="width: 80px; " src="{{url_for('static', filename='img/table-plus.png')}}" alt="">
        </a>
    </li>
    <li class="nav-item pb-5 col-2 pt-5">
        <a class="nav-link" href="{{url_for('partidosBlueprint.partidos')}}">Partidos
            <img style="width: 80px; " src="{{url_for('static', filename='img/soccer-field.png')}}" alt="">
        </a>
    </li>
    <li class="nav-item pb-5 col-2 pt-5">
        <a class="nav-link" href="{{url_for('horariosBlueprint.horarios')}}">Horarios
            <img style="width: 80px; " src="{{url_for('static', filename='img/calendar-clock.png')}}" alt="">
        </a>
    </li>
</ul>