<!-- esta sera la plantilla que va a renderizar la vista index desde el archivo __init__.py  -->

<!-- Para comenzar debemos hacer un extends de body.html -->
{% extends './body.html' %}

<!-- modificando el bloque title el cual tendra de titulo index -->
{% block title %} 
    Partidos 
{% endblock %} 

{% block container %}
    <div class="container-xxl bg-secondary rounded-start rounded-end d-md-block mt-5 ">
        <div class="row">

            <!-- Mostrando los Equipos y sus Horarios -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5">
                <h1 class="fw-bold  fs-1 text-center fst-italic" style=" color: #000;">Equipos y horarios</h1>
                <div class="table-responsive py-3">
                    <table class="table-bordered border border-dark table showteams table-secondary table-striped  table-hover ">
                        <tr class="mx-auto text-center border-dark" style="font-size: smaller; border: 1px solid #ddd;">
                            <th>Equipo</th>
                            <th>horarios</th>
                        </tr>
                        {% for horario in dates %}
                            <tr class="mx-auto text-center" >
                                <td style="font-size: 15px;">{{ horario.nombre_equipo }}</td>
                                <td style="font-size: 15px;">{{ horario.horarios }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <!-- Mostrando los Grupos  para asignar cada partido de cada grupo -->
            <h2 class="fw-bold fs-1 text-center fst-italic" style="color: #000;">Agendar Partidos por grupos</h2>
            {% for grupo in grupos %}
                <div class="col-sm-4 col-md-4 col-lg-4 col-lx-4 pt-5">                
                    <form class="m-3" action="{{ url_for('partidosBlueprint.partidos') }}" method="post">
                        <div class="table-responsive py-3">
                            <table class="table-bordered border border-dark table showteams table-primary table-striped table-hover"
                                style="table-layout: auto;">
                                <thead>
                                    <tr class="mx-auto text-center border-dark fw-bold" style="border: 1px solid #ddd;">
                                        <th>Grupo</th>
                                        <th>Equipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Mostrar grupo con rowspan para que abarque todos sus equipos -->
                                    <tr>
                                        <td rowspan="{{ grupo.equipos | length }}">
                                            <strong>{{ grupo.nombre_grupo }}</strong>
                                        </td>
                                        <!-- Mostrar el primer equipo en la misma fila -->
                                        <td>{{ grupo.equipos[0].nombre_equipo }}</td>
                                    </tr>
                                    <!-- Mostrar los demás equipos en filas independientes -->
                                    {% for equipo in grupo.equipos[1:] %}
                                        <tr>
                                            <td>{{ equipo.nombre_equipo }}</td>
                                        </tr>
                                    {% endfor %}
                                    {% SET equipo.nombre_equipo %}
                                    <tr>
                                        <td>
                                            <select name="equipo1_{{ grupo.grupo_id }}" class="form-select" required>
                                                <option value="">Selecciona equipo 1</option>
                                                {% for equipo in grupo.equipos %}
                                                <option value="{{ equipo.nombre_equipo }}">{{ equipo.nombre_equipo }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <select name="equipo2_{{ grupo.grupo_id }}" class="form-select" required>
                                                <option value="">Selecciona equipo 2</option>
                                                {% for equipo in grupo.equipos %}
                                                    <option value="{{ equipo.nombre_equipo }}">{{ equipo.nombre_equipo }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <label for="meeting" class="form-label fw-bold">Seleccione fecha y hora</label>
                                            <input class="form-select" type="datetime-local" id="meeting" name="meeting"
                                                min="2024-09-21T10:00" max="2024-12-31T18:00" step="600" required>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="mx-auto text-center border-dark fw-bold"> <!-- Botón de enviar -->
                                            <button type="submit" class="btn btn-primary">Agregar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}