<!-- esta sera la plantilla que va a renderizar la vista index desde el archivo __init__.py  -->

<!-- Para comenzar debemos hacer un extends de body.html -->
{% extends './body.html' %}

<!-- modificando el bloque title el cual tendra de titulo index -->
{% block title %} 
    Partidos 
{% endblock %} 

{% block container %}
<div class=" col-lg-6 container mr-1 ml-11" style=" right: 300px;left: 200px;top: auto;bottom: 700px; ">
    <p>estamos en la plantilla de grupos para ver si se remplaza la plantilla en lugar de ponerse encima 
    Esta plantilla tendra la posibilidad de agregar mas grupos, actualizar, eliminar  y visualizar los Partidos</p>
</div>

{% endblock %}